library-management/venv/bin/pip.exe
library-management/venv/bin/activate
library-management/venv/bin/Activate.ps1
library-management/venv/bin/pip3.12.exe
library-management/venv/bin/pip3.exe
library-management/venv/bin/python.exe
library-management/venv/bin/python3.12.exe
library-management/venv/bin/python3.exe
library-management/venv/bin/python3w.exe
library-management/venv/bin/pythonw.exe
